{%extends 'base.html.jinja' %}
{% block content %}
	<div class="col">
		<h1>Michał  Kubacki</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
			voluptatem ut cumque iure deserunt sunt modi minus accusamus sit
			ratione, nulla natus dignissimos nisi nihil veritatis recusandae,
			quos eligendi quidem necessitatibus expedita dolor possimus eaque
			est iste. Labore praesentium laboriosam nemo maxime voluptatibus,
			vel eos cum ex numquam? Enim, nesciunt!
		</p>
	</div>
{% endblock content %}
