{% extends "base.html.jinja"%}
	{% block content %}
		<p class="h1 text-center my-5">Ekstrakcja opinii</p>
			<table id="example" class="table table-striped" style="width: 100%">
				<thead>
					<tr>
						<th>Nazwa produktu</th>
						<th>Liczba opinii</th>
						<th>Liczba wad</th>
						<th>Liczba zalet</th>
						<th>Średnia ocena</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>test</td>
						<td>15</td>
						<td>3</td>
						<td>4</td>
						<td>4</td>
					</tr>
				</tbody>
				<tfoot></tfoot>
			</table>
	{%endblock content%}

